altgraph                  
anyio                     
audioop-lts               
blinker                   
CacheControl              
certifi                   
cffi                      
charset-normalizer        
click                     
cryptography              
firebase_admin            
Flask                     
flask-cors                
google-api-core           
google-auth               
google-cloud-core         
google-cloud-firestore    
google-cloud-storage      
google-crc32c             
google-resumable-media    
googleapis-common-protos  
greenlet                  
grpcio                    
grpcio-status             
gTTS                      
h11                       
h2                        
hpack                     
httpcore                  
httpx                     
hyperframe                
idna                      
itsdangerous              
Jinja2                    
Markdown                  
MarkupSafe                
msgpack                   
mysql-connector-python    
packaging                 
pip                       
proto-plus                
protobuf                  
psutil                    
psycopg2-binary           
pyasn1                    
pyasn1_modules            
pycparser                 
pygame-ce                 
pyinstaller               
pyinstaller-hooks-contrib 
PyJWT                     
PyMySQL                   
pyodbc                    
PyQt5                     
PyQt5-Qt5                 
PyQt5_sip                 
PyQtWebEngine             
PyQtWebEngine-Qt5         
requests                  
setuptools                
SpeechRecognition         
SQLAlchemy                
standard-aifc             
standard-chunk            
typing_extensions         
urllib3                   
Werkzeug                  
